#topContainer_tap{
	display: inline-block;
	height:30px;
}

#topContainer_button{
	float: right;
	min-width: 211px;
	min-height: 30px;
	vertical-align: middle;
}

.topContainer_item_gmail{	
	font-size: 10pt;
	min-width: 49px;
	min-height: 24px;
	display: inline-block;
	vertical-align: middle;	
}

.topContainer_item_image{	
	font-size: 10pt;
	min-width: 52px;
	min-height: 30px;
	display: inline-block;
	vertical-align: middle;	
}

.topContainer_item_app{	
	font-size: 10pt;
	min-width: 30px;
	min-height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
		text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 100;
	top: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.topContainer_item_app .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
		border-color: #555 transparent transparent transparent;
}

.topContainer_item_app:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.topContainer_item_profile{	
	font-size: 10pt;
	min-width: 45px;
	min-height: 30px;
	display: inline-block;
	vertical-align: middle;	
}

.topContainer_item{
	float: right;
	height: 24px;
	margin-top: 1px;
}

.topContainer_item:hover {
   text-decoration: underline;
 }

 .topContainer_item_img{
	 float: right;
	 margin-top: 3px;
 }	

#google_search-bottom{
	   position: fixed;
	bottom: 0px;
		left: 0;
	right: 0;
	height: 40px;
	background: #f2f2f2;
}

.google_search-bottom-link_box{
	margin-top: 9px;
}

.google_search-bottom-link_box-left{
	display: inline-block;
	float: left;
}

.google_search-bottom-link_box-right{
	display: inline-block;
	float: right;
	margin-right: 30px;
}

.google_search-bottom-link_box-a{
	margin-left: 30px;
	font-size: small;
	text-decoration: none;
	color: #777;
}

.google_search-bottom-link_box-a:hover{
	text-decoration: underline;
}



#mainLog_box{
	max-width:100%;
	margin-top: 89px;
	height: 201px;
}

 #mainLogo{
	 top : 50%;
	 max-width: 272px; 
	 max-height: 92px; 	
	 margin-top: 68px;
	 margin-left: auto; 
	 margin-right: auto; 
	 margin-bottom: 20px;
	 padding-top: 85px;
	 position: relative;
	 width: 272px; 
	 height: 92px;  
	 z-index: 1;
 }

 #searchBarContainer{
	 min-height: 129px;
	max-width:100%;
	padding-top: 8px;
 }
 #searchBar{
	 width:580px;
	 height :42px;
	 margin-left: auto; 
	 margin-right: auto;
	 display: block;	
	border : 1px;
	 border-collapse: collapse;
	border-style: solid;
	border-color: #E2E2E2 #E2E2E2 #E2E2E2 #E2E2E2;
	box-shadow: 0px 2px 1px -1px #d2d2d2;
 }

 .searchBarContents{
	display: inline-block;  
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
	max-height: 42px; 			
 }

 .googleButton{ 			
	 margin-left: auto; 
	 margin-right: auto;
	 margin-top: 40px;
	 font-size: 14px;
	 line-height: 35px;
	 height: 36px;
	 background-color: #EEEEEE;
	 display: inline-block;
	font-weight: bold;
	color : #757575;
 } 
/* 
 .searchContents{
	padding: 0px 10px 0px 10px;
	border: none;
	min-width: 462px;
	height: 24px;
	line-height: 20px;
	font-size: 20px;
	position: relative;
	top: -15px;
 } */

 textarea{ outline-style:none; }

input:focus {
	outline: none;
}